/* line 1, ../sass/_generals.scss */
* {
  box-sizing: border-box;
  overflow: hidden;
}

/* line 6, ../sass/_generals.scss */
body {
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

/* line 13, ../sass/_generals.scss */
.bg-login-mobile {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 20, ../sass/_generals.scss */
.bg-login-mobile img {
  background-size: cover;
  width: min-content;
  transform: translateY(-200px);
}

/* line 27, ../sass/_generals.scss */
.bg-login-desktop {
  position: absolute;
}
/* line 31, ../sass/_generals.scss */
.bg-login-desktop img {
  background-size: contain;
  width: fit-content;
  transform: translateY(-30%);
}

/* line 37, ../sass/_generals.scss */
.container-logo,
.form-logo-desktop {
  position: relative;
  display: block;
  transition: all .7s ease-in-out;
  padding-top: 90px;
}
/* line 44, ../sass/_generals.scss */
.container-logo .part,
.form-logo-desktop .part {
  overflow: hidden;
  transition: height 0.6s ease-out;
  height: auto;
}

/* line 53, ../sass/_generals.scss */
.button-login {
  position: relative;
  -moz-box-shadow: 0px 2px 14px -3px #3A25A3;
  -webkit-box-shadow: 0px 2px 14px -3px #3A25A3;
  box-shadow: 0px 2px 14px -3px #3A25A3;
  background: -moz-linear-gradient(top, #e17ff0 1%, #593ef0 100%);
  background: -webkit-linear-gradient(top, #e17ff0 1%, #593ef0 100%);
  background: -o-linear-gradient(top, #e17ff0 1%, #593ef0 100%);
  background: -ms-linear-gradient(top, #e17ff0 1%, #593ef0 100%);
  background: linear-gradient(to bottom, #e17ff0 1%, #593ef0 100%);
  background-color: #e17ff0;
  -moz-border-radius: 42px;
  -webkit-border-radius: 42px;
  border-radius: 40px;
  display: block;
  width: fit-content;
  margin: 0 auto;
  margin-top: 20%;
  margin-bottom: 8px;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Varela Round';
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 50px #3d768a;
  transition: letter-spacing .6s all ease;
}
/* line 83, ../sass/_generals.scss */
.button-login:hover {
  background: -moz-linear-gradient(top, #593ef0 1%, #e17ff0 100%);
  background: -webkit-linear-gradient(top, #593ef0 1%, #e17ff0 100%);
  background: -o-linear-gradient(top, #593ef0 1%, #e17ff0 100%);
  background: -ms-linear-gradient(top, #593ef0 1%, #e17ff0 100%);
  background: linear-gradient(to bottom, #593ef0 1%, #e17ff0 100%);
  background-color: #593ef0;
}

/* line 93, ../sass/_generals.scss */
.button-login:active {
  position: relative;
  letter-spacing: 2px;
}

/* line 97, ../sass/_generals.scss */
.form-logo,
.form-logo-desktop {
  width: 80%;
  margin: 0 auto;
}
/* line 102, ../sass/_generals.scss */
.form-logo form,
.form-logo-desktop form {
  text-align: center;
}

/* line 106, ../sass/_generals.scss */
label {
  display: block;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: center;
  font-family: 'Varela Round';
}
/* line 113, ../sass/_generals.scss */
label .label-text {
  color: #3A25A3;
  cursor: text;
  font-size: .7em;
  font-style: bold;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transform: translateY(-34px);
  transition: all 0.6s;
}
/* line 125, ../sass/_generals.scss */
label input {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid #e17ff0;
  color: #3A25A3;
  font-size: 1.2em;
  letter-spacing: -1px;
  outline: 0;
  padding: 5px 30px;
  text-align: center;
  transition: all 0.6s ease;
  width: 200px;
}
/* line 139, ../sass/_generals.scss */
label input:focus {
  max-width: 100%;
  width: 300px;
  border-radius: 14px;
}
/* line 144, ../sass/_generals.scss */
label input:focus + .label-text {
  color: #3A25A3;
  font-size: 13px;
  letter-spacing: 5px;
  transform: translateY(-64px);
}
/* line 151, ../sass/_generals.scss */
label input:valid {
  border-radius: 7px;
}
/* line 154, ../sass/_generals.scss */
label input:valid + .label-text {
  font-size: 13px;
  letter-spacing: 5px;
  transform: translateY(-64px);
  opacity: 0.4;
}
/* line 161, ../sass/_generals.scss */
label input:invalid {
  border-bottom: 3px solid #F50057;
  border-radius: 14px;
  color: #F50057;
}
/* line 166, ../sass/_generals.scss */
label input[type="number"]::-webkit-inner-spin-button, label input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 175, ../sass/_generals.scss */
#logo {
  display: block;
  width: 55%;
  margin: 0 auto;
}

@media only screen and (min-width: 469px) {
  /* line 182, ../sass/_generals.scss */
  .bg-login-mobile {
    display: none;
  }

  /* line 186, ../sass/_generals.scss */
  .container-logo {
    width: 100%;
    padding-top: 10px;
  }
  /* line 190, ../sass/_generals.scss */
  .container-logo .button-login-desktop {
    float: right;
    margin: 25px 25px 35px 0;
  }
  /* line 195, ../sass/_generals.scss */
  .container-logo .button-login-mobile {
    display: none;
  }

  /* line 199, ../sass/_generals.scss */
  .form-logo {
    display: none;
  }

  /* line 273, ../sass/_generals.scss */
  #logo {
    max-width: 17%;
    min-width: 180px;
    margin-left: 10px;
    float: left;
  }
}
