<!-- <section class="wrapper">
</section> -->
      <div id="pokeOutput" *ngIf="parametroUrl">
          <div class="top-container">
            <div class="image-container">
      
              <div class="size">
                <h2>{{listPokemon[parametroUrl].nombre}}</h2>
              </div>
      
              <img src="{{listPokemon[parametroUrl].image}}" alt="{{listPokemon[parametroUrl].nombre}}" id="pokeImage">
            </div>
          </div>
      
          <div class="bottom-container">
      
            <table>
              <tr>
                <td>NO: </td>
                <td class="idNum"># {{listPokemon[parametroUrl].id}}</td>
              </tr>
              <tr>
                <td>Level:</td>
                <td class="level">{{listPokemon[parametroUrl].nivel}}</td>
              </tr>
              <tr>
                <td>Type:</td>
                <td class="type">{{listPokemon[parametroUrl].tipo}}</td>
              </tr>
              <tr>
                <td>Ability:</td>
                <td class="ability">{{listPokemon[parametroUrl].habilidad}}</td>
              </tr>
              <tr>
                <td>Height:</td>
                <td class="height">{{listPokemon[parametroUrl].altura}}</td>
              </tr>
              <tr>
                <td>Weight:</td>
                <td class="weight">{{listPokemon[parametroUrl].anchura}}</td>
              </tr>
            </table>
            <div class="button-back">
              <button  class="button" (click)="volverAtras()">➸</button>
              <h1>Atrás</h1>
            </div>
  
  
          </div>
  
      </div>