$pokedex-bgcolor:#C21029;
$pokedex-shadow:#5A0713;
$pokedex-infoColor:rgba(114, 204, 229, 0.719);
$glass:#ACD4D8;
$height-pokedex:125px;
$min-font: 14px;
$max-font: 18px;
$min-screen: 320px;
$max-screen:1440;


$pokeRed: #e8332a;
$pokeGrey: #bfbfc9;
$pokeBlue: #3661ac;
$pokeYellow: #ffcb08;