main.container{
    position: relative;
    margin: 0 auto;
    width: 90%;
    height:100vh;
    font-family: 'PokemonGb';
    background-color: $glass;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(34,157,168,1);
    -moz-box-shadow: 0px 0px 4px 1px rgba(34,157,168,1);
    box-shadow: 0px 0px 4px 1px rgba(34,157,168,1),
                inset 0px -4px 18px 0px #fff;

    &::after{
        content: '';
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
        height: $height-pokedex+2;
        background-color: $pokedex-shadow;
        border-radius: 0 0 22px 22px;
        filter: blur(3px);

    }
    &::before{
        content: '';
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: $height-pokedex+2;
        background-color: $pokedex-shadow;
        border-radius:22px 22px 0 0 ;
        filter: blur(3px);
    }
}

header,
footer{
    transition: height 1s ease-in-out, box-shadow 1s ease 0.7s;
    z-index: 2;
    hr{
        position: absolute;
        background:linear-gradient(to right, #888,#eee);
        border: 0;
        border-top: 3px solid $pokedex-shadow;
        width: 100%;
        height: 3px;
        bottom: 0;
        margin: 0;
        z-index: -1;
    }
}

.half-circle-metal{
    position: absolute;
    width: calc(#{$height-pokedex}*1.5); 
    height: calc(#{$height-pokedex}/1.3); 
    bottom: 0;
    border: 6px solid $pokedex-shadow;
    border-bottom:0;  
    background: linear-gradient(to right, #888,#eee);
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 100px 100px 0 0;
}

header{
    background-color: $pokedex-bgcolor;
    top:0;
    left: 0;
    border-radius: 22px 22px 0 0;
    -webkit-box-shadow: inset 10px 10px 25px 0px rgba(255,255,255,0.5),
                        2px 2px 7px 1px #06444a;
    -moz-box-shadow: inset 10px 10px 25px 0px rgba(255,255,255,0.5),
                    2px 2px 7px 1px #06444a;
    box-shadow: inset 10px 10px 25px 0px rgba(255,255,255,0.5),
                2px 2px 7px 1px #06444a;
    display: flex;
    justify-content: center;
    
    & .half-circle-metal::before,
    .half-circle-metal::after{
        content: '';
        position: absolute;
        margin-left: calc(100% / 80);
        width: calc(#{$height-pokedex}/0.7); 
        height: calc(#{$height-pokedex}/1.38); 
        bottom: 0;
        border: 2px solid $pokedex-shadow;
        border-bottom:0;  
        background: #000;
        -moz-border-radius: 100px 100px 0 0;
        -webkit-border-radius: 100px 100px 0 0;
        border-radius: 100px 100px 0 0;
    }
    & .half-circle-metal::after{
        background-color: #fff;
        margin-left: calc(100%/3.7);
        width: calc(#{$height-pokedex}/1.45); 
        height: calc(#{$height-pokedex}/3);
        border:0;
        
    }
    
}

section.wrapper{
    position: absolute;
    z-index: 1;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: $glass;
}

footer{
    background-color: $pokedex-bgcolor;
    bottom: 0;
    left: 0;
    border-radius: 0 0 22px 22px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    -webkit-box-shadow: inset 10px -10px 25px 0px rgba(255,255,255,0.5);
    -moz-box-shadow: inset 10px -10px 25px 0px rgba(255,255,255,0.5);
    box-shadow: inset 10px -10px 25px 0px rgba(255,255,255,0.5),
                0px -2px 7px 1px #06444a;
    
    & div.half-circle-metal{
        top:0;
        border: 6px solid $pokedex-shadow;
        border-top:0;
        -moz-border-radius:0 0 100px 100px ;
        -webkit-border-radius:0 0 100px 100px ;
        border-radius:0 0 100px 100px ;
    }
    & .half-circle-metal::before,
    .half-circle-metal::after{
        content: '';
        position: absolute;
        margin-left: calc(100% / 80);
        width: calc(#{$height-pokedex}/0.7); 
        height: calc(#{$height-pokedex}/1.38); 
        top: 0;
        border: 2px solid $pokedex-shadow;
        border-top:0;  
        background: #000;
        -moz-border-radius:0 0 100px 100px ;
        -webkit-border-radius:0 0 100px 100px ;
        border-radius:0 0 100px 100px ;
    }
    & .half-circle-metal::after{
        background-color: #fff;
        margin-left: calc(100%/3.7);
        width: calc(#{$height-pokedex}/1.45); 
        height: calc(#{$height-pokedex}/3);
        border:0;
    }
    & hr{
        top:0;
        border: 0;
        border-bottom:3px solid $pokedex-shadow;
    }
}

footer.circle-shadow{
    position: absolute;
}

#pokeOutput {
    position: absolute;
    padding:0;
    width: 100%;
    height:-webkit-calc(100vh - #{$height-pokedex*2});
    margin-top: $height-pokedex;
    margin-bottom: $height-pokedex;        
    overflow-x: hidden;

    & div.image-container{
        background-image: url(/img/bg-pokemon.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: 50%;
    }
}
#pokeImage {
    display: flex;
    justify-content: center;
    margin:0 auto;
    width: 100%;
    position: relative;
    transform: translateY(-10vh);

    @media screen and (min-width:400px) and (max-width:600px) {
        & {transform: translateY(-18vh)};
    }
}
.size {
    display: flex;
    justify-content: center;

    & h2 {
        position: relative;
        text-transform: uppercase;
        letter-spacing: 6px;
        font-weight: 900;
        text-decoration: none;
        color: white;
        display: inline-block;
        background-size: 120% 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        -ms-background-clip: text;
        -ms-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        background-image: linear-gradient(45deg, 
                          $pokeBlue, 
                          $pokeGrey,
                          $pokeBlue,
                          $pokeYellow);
        animation: .8s shake infinite alternate;
      }
      
    @keyframes shake {
        0% { transform: skewX(-15deg); }
        5% { transform: skewX(15deg); }
        10% { transform: skewX(-15deg); }
        15% { transform: skewX(15deg); }
        20% { transform: skewX(0deg); }
        100% { transform: skewX(0deg); }  
    }

}
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.8rem;
}
tr td:first-child{
    font-weight: 700;
}
td,
th {
    border: 0;
    text-align: left;
    padding: 8px;
    text-transform: capitalize;
}

tr:nth-child(even) {
    background-color: #E4F8F9;
}


div.pokemon-selection{
    position: relative;
    display: block;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-color: $pokedex-infoColor;
    overflow:auto;
    box-sizing: border-box;


    & .pokemon-thumb{
        max-height: -webkit-calc(100% - 0.8rem);
        min-height: 150px;
        width: (100% /3 );
        margin: 0.4rem 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px double $pokedex-shadow; 
    }
}

div.pokemon-thumb img{
    width: 100%;
    height: 100%;
    background-size: cover;
    float: left;
}

.slick-prev:before,
.slick-next:before {
color: black;
content: '';
}

.slick-arrow {
    width: 20px;
    height: 20px;
    z-index: 5;
    border-top: 3px solid white;
    border-right: 3px solid white;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

.slick-arrow:hover {
    opacity: .5
}

.slick-prev {
    left: 1%;  
    transform: rotate(225deg);
}

.slick-next {
    right: 1%;
    transform: rotate(45deg);
}
div.slick-track{
    height: 100%;
}


@media only screen and (min-width: 600px) {
    div#pokeOutput{

        position: absolute;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        width: 100%;
        height:-webkit-calc(100vh - #{$height-pokedex*2});
        margin-top: $height-pokedex;
        margin-bottom: $height-pokedex;        
        overflow: hidden;
        
        & .bottom-container{
            position: relative;
            float: right;
            width: 50%;
        }
    }
    div.top-container{
        position: relative;
        float: left;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    div.size{
        position: relative;
        z-index: 1;
    }
    div.size h2 {
        position: relative;
        text-transform: uppercase;
        letter-spacing: 6px;
        font-weight: 900;
        text-decoration: none;
        color: white;
        display: inline-block;
        background-size: 120% 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        -ms-background-clip: text;
        -ms-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        background-image: linear-gradient(45deg, 
                          $pokeBlue, 
                          $pokeGrey,
                          $pokeBlue,
                          $pokeYellow);
        animation: .8s shake infinite alternate;
      }
      
      @keyframes shake {
        0% { transform: skewX(-15deg); }
        5% { transform: skewX(15deg); }
        10% { transform: skewX(-15deg); }
        15% { transform: skewX(15deg); }
        20% { transform: skewX(0deg); }
        100% { transform: skewX(0deg); }  
      }
    div.image-container{
        display: inline-block;
        width: 100%;
        height: 100%;
        border-right: 2px solid $pokedex-shadow;
    }
    img#pokeImage{
        position: relative;
        height: 100%;
        background-size: contain;
        // background-color: #888;
    }
    div.bottom-container{
        position: absolute;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        margin: 0 auto;
        width: 50%;
        height: 100%;

        & table{
            height: 70%;
        }
    }

    div.pokemon-selection{
        position: relative;
        display: block;
        bottom: 0;
        width: 100%;
        height: 30%;
        background-color:
         $pokedex-infoColor;
        overflow:auto;
        box-sizing: border-box;


        & .pokemon-thumb{
            max-height: -webkit-calc(80% - 0.8rem);
            min-height: 150px;
            width: (100% /3 );
            margin: 0.4rem 0;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 1px double $pokedex-shadow; 
        }
    }

    div.pokemon-thumb img{
        position: relative;
        width: 100%;
        height: 100%;
        background-size: contain;
        float: left;
    }

    .slick-prev:before,
    .slick-next:before {
    color: black;
    content: '';
    }

    .slick-arrow {
        width: 20px;
        height: 20px;
        z-index: 5;
        border-top: 3px solid white;
        border-right: 3px solid white;
        -webkit-transition: opacity 0.3s ease-out;
        -moz-transition: opacity 0.3s ease-out;
        transition: opacity 0.3s ease-out;
    }

    .slick-arrow:hover {
        opacity: .5
    }

    .slick-prev {
        left: 1%;  
        transform: rotate(225deg);
    }

    .slick-next {
        right: 1%;
        transform: rotate(45deg);
    }
    div.slick-track{
        height: 100%;
    }

}