main.container{
    position: relative;
    margin: 0 auto;
    width: 90%;
    height:140vh;
    font-family: 'PokemonGb';
    background-color: $glass;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(34,157,168,1);
    -moz-box-shadow: 0px 0px 4px 1px rgba(34,157,168,1);
    box-shadow: 0px 0px 4px 1px rgba(34,157,168,1),
                inset 0px -4px 18px 0px #fff;

    &::after{
        content: '';
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
        height: $height-pokedex+2;
        background-color: $pokedex-shadow;
        border-radius: 0 0 22px 22px;
        filter: blur(3px);

    }
    &::before{
        content: '';
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: $height-pokedex+2;
        background-color: $pokedex-shadow;
        border-radius:22px 22px 0 0 ;
        filter: blur(3px);
    }
}
// main.container:hover{
//     header,footer{
//         height: 50vh;
//         -webkit-box-shadow: inset -10px 10px 20px 0px rgba(255,255,255,0.5),
//                         2px 2px 7px 1px #06444a;
//         -moz-box-shadow: inset -10px 10px 20px 0px rgba(255,255,255,0.5),
//                     2px 2px 7px 1px #06444a;
//         box-shadow: inset -10px 10px 20px 0px rgba(255,255,255,0.5),
//                 2px 2px 7px 1px #06444a;
//     }
//     footer{
//         box-shadow: inset -10px -10px 20px 0px rgba(255,255,255,0.5);
//     }
// }
header,
footer{
    transition: height 1s ease-in-out, box-shadow 1s ease 0.7s;
    z-index: 2;
    hr{
        position: absolute;
        background:linear-gradient(to right, #888,#eee);
        border: 0;
        border-top: 3px solid $pokedex-shadow;
        width: 100%;
        height: 3px;
        bottom: 0;
        margin: 0;
        z-index: -1;
    }
}
.half-circle-metal{
    position: absolute;
    width: calc(#{$height-pokedex}*1.5); 
    height: calc(#{$height-pokedex}/1.3); 
    bottom: 0;
    border: 6px solid $pokedex-shadow;
    border-bottom:0;  
    background: linear-gradient(to right, #888,#eee);
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 100px 100px 0 0;
}
header{
    background-color: $pokedex-bgcolor;
    top:0;
    left: 0;
    border-radius: 22px 22px 0 0;
    -webkit-box-shadow: inset 10px 10px 25px 0px rgba(255,255,255,0.5),
                        2px 2px 7px 1px #06444a;
    -moz-box-shadow: inset 10px 10px 25px 0px rgba(255,255,255,0.5),
                    2px 2px 7px 1px #06444a;
    box-shadow: inset 10px 10px 25px 0px rgba(255,255,255,0.5),
                2px 2px 7px 1px #06444a;
    display: flex;
    justify-content: center;
    
    & .half-circle-metal::before,
    .half-circle-metal::after{
        content: '';
        position: absolute;
        margin-left: calc(100% / 80);
        width: calc(#{$height-pokedex}/0.7); 
        height: calc(#{$height-pokedex}/1.38); 
        bottom: 0;
        border: 2px solid $pokedex-shadow;
        border-bottom:0;  
        background: #000;
        -moz-border-radius: 100px 100px 0 0;
        -webkit-border-radius: 100px 100px 0 0;
        border-radius: 100px 100px 0 0;
    }
    & .half-circle-metal::after{
        background-color: #fff;
        margin-left: calc(100%/3.7);
        width: calc(#{$height-pokedex}/1.45); 
        height: calc(#{$height-pokedex}/3);
        border:0;
        
    }
    
}


section.wrapper{
    position: absolute;
    z-index: 1;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: $pokedex-infoColor;
    margin-top: $height-pokedex;
}
.pokemon-card{
    z-index: 4;
    position: absolute;
    display: block;
    width: 100%;
    height: fit-content;
    & .pokemon-name h2{
        position: absolute;
        font-family: 'PokemonGb';
        width: 50vw;
        margin: 3rem 0;
    }
    & .pokemon-type{
        position: absolute;
        margin: 0;
        float: right;
        transform: scale(0.1);
    }
}
.pokemon-info{
    position: relative;
    display: block;
    width: 100%;
    height:fit-content;
    margin-top: 100rem;

    // & img{
    //     display: flex;
    //     justify-content: center;
    //     width: 60%;
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     margin: 0 auto;
    //     padding: 0;
    // }
}

footer{
    background-color: $pokedex-bgcolor;
    bottom: 0;
    left: 0;
    border-radius: 0 0 22px 22px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    -webkit-box-shadow: inset 10px -10px 25px 0px rgba(255,255,255,0.5);
    -moz-box-shadow: inset 10px -10px 25px 0px rgba(255,255,255,0.5);
    box-shadow: inset 10px -10px 25px 0px rgba(255,255,255,0.5),
                0px -2px 7px 1px #06444a;
    
    & div.half-circle-metal{
        top:0;
        border: 6px solid $pokedex-shadow;
        border-top:0;
        -moz-border-radius:0 0 100px 100px ;
        -webkit-border-radius:0 0 100px 100px ;
        border-radius:0 0 100px 100px ;
    }
    & .half-circle-metal::before,
    .half-circle-metal::after{
        content: '';
        position: absolute;
        margin-left: calc(100% / 80);
        width: calc(#{$height-pokedex}/0.7); 
        height: calc(#{$height-pokedex}/1.38); 
        top: 0;
        border: 2px solid $pokedex-shadow;
        border-top:0;  
        background: #000;
        -moz-border-radius:0 0 100px 100px ;
        -webkit-border-radius:0 0 100px 100px ;
        border-radius:0 0 100px 100px ;
    }
    & .half-circle-metal::after{
        background-color: #fff;
        margin-left: calc(100%/3.7);
        width: calc(#{$height-pokedex}/1.45); 
        height: calc(#{$height-pokedex}/3);
        border:0;
    }
    & hr{
        top:0;
        border: 0;
        border-bottom:3px solid $pokedex-shadow;
    }
}

footer.circle-shadow{
    position: absolute;

}


#pokeOutput {
    position: absolute;
    padding:0;
    width: 100%;
    margin-top: 2rem;
  }
  #pokeImage {
    display: flex;
    justify-content: center;
    margin:0 auto;
    width: 100%;
    position: relative;
    transform: translateY(-10vh);
  }
  .base-title {
    font-size: 1.3rem;
    font-weight: 700;
  }
  .stat {
    font-weight: 700;
  }
  .size {
    display: flex;
    justify-content: center;

  }

  .poke-info {
    display: inline-block;
    margin-right: 2px;
  }
  
  .container {
    width: 450px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    color: #000;
    border-radius: 15px;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  }
  
  .image-container {
    height: 300px;
    background-color: transparent;
    white-space: nowrap;
    border:0;
    color: #fff;
    font-size: 0.8rem;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.8rem;
  }
  
  td,
  th {
    border: 0;
    text-align: left;
    padding: 8px;
    text-transform: capitalize;
  }
  
  tr:nth-child(even) {
    background-color: #E4F8F9;
  }
