*{
    box-sizing: border-box;
    overflow: hidden;
}

body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Varela Round', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.bg-login-mobile{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    img{
        background-size: cover;
        width: min-content;
        transform: translateY(-200px);
    }
}

.bg-login-desktop{
    position: absolute;
    

    img{
        background-size: contain;
        width: fit-content;
        transform: translateY(-30%);
    }
}
.container-logo,
.form-logo-desktop{
    position: relative;
    display: block;
    transition: all .7s ease-in-out;
    padding-top: 90px;

    .part{
        overflow:hidden;
        transition: height 0.6s ease-out;
        height:auto;
    }
}



.button-login {
    position: relative;
	-moz-box-shadow: 0px 2px 14px -3px #3A25A3;
	-webkit-box-shadow: 0px 2px 14px -3px #3A25A3;
	box-shadow: 0px 2px 14px -3px #3A25A3;
	background:-moz-linear-gradient(top, #e17ff0   1%, #593ef0 100%);
	background:-webkit-linear-gradient(top, #e17ff0 1%, #593ef0 100%);
	background:-o-linear-gradient(top, #e17ff0 1%, #593ef0 100%);
	background:-ms-linear-gradient(top, #e17ff0 1%, #593ef0 100%);
	background:linear-gradient(to bottom, #e17ff0 1%, #593ef0 100%);
	background-color:#e17ff0;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:40px;
    display:block;
    width: fit-content;
    margin: 0 auto;
    margin-top: 20%;
    margin-bottom: 8px;
	cursor: pointer;
    color:#ffffff;
    font-family: 'Varela Round';
	font-size:0.8em;
    font-weight:bold;
    letter-spacing: 1px;
	padding:13px 32px;
	text-decoration:none;
    text-shadow:0px 1px 50px #3d768a;
    transition: letter-spacing .6s all ease;

    &:hover{
        background:-moz-linear-gradient(top, #593ef0 1%, #e17ff0 100%);
        background:-webkit-linear-gradient(top, #593ef0 1%, #e17ff0 100%);
        background:-o-linear-gradient(top, #593ef0 1%, #e17ff0 100%);
        background:-ms-linear-gradient(top, #593ef0 1%, #e17ff0 100%);
        background:linear-gradient(to bottom, #593ef0 1%, #e17ff0 100%);
        background-color:#593ef0;
    }
}
   
.button-login:active {
    position:relative;
    letter-spacing: 2px;
}
.form-logo,
.form-logo-desktop{
    width: 80%;
    margin: 0 auto;

    form{
        margin-top: 20px;
        text-align: center;
    }
}
label {
  display: block;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: center;
  font-family: 'Varela Round';

  .label-text{
    color: #3A25A3;
    cursor: text;
    font-size: .7em;
    font-style: bold;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transform:translateY(-34px);
    transition: all 0.6s;
  }
  input{
    background-color: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid #e17ff0;
    color: #3A25A3;
    font-size: 1.2em;
    letter-spacing: -1px;
    outline: 0;
    padding: 5px 30px;
    text-align: center;
    transition: all 0.6s ease;
    width: 200px;
    
    &:focus{ 
      max-width: 100%;
      width: 300px;
      border-radius: 14px;

      & + .label-text{
        color: #3A25A3;
        font-size: 13px;
        letter-spacing: 5px;
        transform:translateY(-64px);
      }
    }
    &:valid{
        border-radius: 7px;

        & + .label-text{
            font-size: 13px;
            letter-spacing: 5px;
            transform:translateY(-64px);
            opacity: 0.4;
        }
    }
    
    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button{
        -webkit-appearance: none; 
         margin: 0;    
    }
   
  }
}
label input.invalid{
    border-bottom: 3px solid #F50057;
    border-radius: 14px;
    color: #F50057;
}
#logo{
    display: block;
    width: 55%;
    margin: 0 auto;
    // margin-bottom: 90%;
}
@media  only screen and (min-width: 469px){
    .bg-login-mobile{
        display: none;
    }

    .container-logo{
        width: 100%;
        padding-top: 10px;

        .button-login-desktop{
            float: right;
            margin: 25px 25px 35px 0;
        }
        
        .button-login-mobile{
            display: none;
        }
    }
    .form-logo{
       display: none;
    }

    #logo{
        max-width: 17%;
        min-width: 180px;
        margin-left: 10px;
        float: left;
    }
    
}

// Start Admin css
body#admin{
    overflow: auto;
    background-color: #ffffff;
    
}
header{
    width: 100%;
    height: auto;
    display: inline-block;
    position: sticky;

    img{
        max-width: 17%;
        min-width: 180px;
        margin-left: 10px;
        float: left;
    }
    .admin-header{
        float: right;
    }
    
    .sign-out{
        float: right;
        margin: 25px 25px 35px 0;        
    }
}
@media only screen and (max-width:469px){
    header{
        position: relative;
        display: block;
        img{
            align-self: center;
            margin-left: 25%;
        }
    }
}

.container-cards{
    position: relative;
    display: block;
    overflow-y: auto;
    width: 95%;
    height: 100%;
    background-color: #593ef0;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 1px -1px 8px #3A25A3;

    #container-tittle{
        margin-left: 30px;
        width: 100%;
        color: #C7DDF8;
        text-shadow: 1px 1px 4px #3A25A3;
    }
    
    .wrapper-cards{
        display: flex;
        margin: 0 auto;
        width: 100%;
        height: fit-content;
        align-self: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: row;
        padding-bottom: 20px;
    }
}

.card {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 10px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: calc(100% / 4);
    min-width: 320px;
    height: 250px;
    padding: 20px;
    background: #252525;
    border-radius: 10px;
    box-shadow: -2px 2px 0px 0px #202020,
                -10px 10px 40px 0px rgba(0, 0, 0, 0.3);
    z-index: 2;
    transition: all 1s;
    
    h2{
        width: fit-content;
        opacity: 0;
        transition: all .4s ease;
    }
    &:hover{
        width: calc(100% / 3) + 10px;
        height: 290px;
        h2{
            opacity: 1;
            color: #F50057
        }
    }

    .circle {
        position: absolute;
        display: block;
        margin: 20px;
        top: 40%;
        bottom: 0;
        right: -30%;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background: #202020;
        z-index: -2;

        h4{
            position: absolute;
            display: block;
            width: fit-content;
            margin: 0;
            margin-left: 2rem;
            bottom: 50%;
            left: 0;
            color: crimson;
        }
        &:nth-of-type(2) {
            position: absolute;
            cursor: pointer;
            display: block;
            width: 50px;
            top: 0;
            right: 0;
            height: 50px;
            z-index: -1;
            background: crimson;

            h3{
                position: relative;
                display: block;
                margin-top: 25%;
                margin-bottom: 25%;
                text-align: center;
            }
        }

      }
}

.button-add{
    position: fixed;
    display: block;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    bottom: 5px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    align-self: center;
    justify-content: center;
    z-index: 4;
}
// End Admin css